<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandsetPortrait$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandsetPortrait$ | async) ? 'over' : 'side'"
    [opened]="(isHandsetPortrait$ | async) === false"
  >
    <mat-toolbar>
      <img src="/images/angular.webp" alt="logo" class="logo" />
    </mat-toolbar>
    <mat-nav-list>
      <div class="sidenav-actions-container">
        <div class="hrule">
          <span class="section-title">Navigation</span>
        </div>

        <a href="/overview" class="sidenav-action">
          <mat-icon>format_list_bulleted</mat-icon>
          <span>{{ "SideBar.Overview" | translate }}</span>
        </a>

        @if (isAuthenticated) {
          <a href="/demo" class="sidenav-action">
            <mat-icon>bug_report</mat-icon>
            <span>{{ "SideBar.DemoComponents" | translate }}</span>
          </a>

          <a class="sidenav-action">
            <mat-icon>notifications</mat-icon>
            <span>{{ "SideBar.SomeOption" | translate }}</span>
          </a>

          <div class="hrule">
            <span class="section-title">{{
              "SideBar.ActionsTitle" | translate
            }}</span>
          </div>

          @if (hasUserRoleOnly) {
            <a href="/add-blog" class="sidenav-action">
              <mat-icon>add</mat-icon>
              <span>{{ "SideBar.AddPost" | translate }}</span>
            </a>
          }

          <div class="hrule">
            <span class="section-title">{{
              "SideBar.Account" | translate
            }}</span>
          </div>

          <div class="user-info-container">
            <mat-icon>person</mat-icon>
            <span>{{ userData?.preferred_username }}</span>
          </div>

          <button mat-menu-item (click)="logout()" class="logout-button">
            <mat-icon>logout</mat-icon>
            <span>{{ "SideBar.Logout" | translate }}</span>
          </button>
          <mat-divider class="hrule"></mat-divider>
        } @else {
          <div class="hrule"></div>
          <button mat-menu-item (click)="login()" class="login-button">
            <mat-icon>login</mat-icon>
            <span>{{ "SideBar.Login" | translate }}</span>
          </button>
        }

        <app-lang-select></app-lang-select>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandsetPortrait$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span class="spacer"></span>
      <h4>{{ title }}</h4>
    </mat-toolbar>
    @if (isLoading()) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
