@import "../../../styles.scss";

.blog-detail {
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 4rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  .blog-header img {
    display: flex;
    justify-self: center;
    max-height: 300px;
    border-radius: 8px;
    object-fit: cover;
    margin: 2.5rem auto;
  }

  .blog-stats {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1rem;
    color: #666;
    margin: 1rem 0 1rem 0;
  }

  .comments-section {
    h2 {
      margin-bottom: 20px;
    }

    .add-comment-area {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      gap: 10px;

      .full-width {
        width: 100%;
      }
    }
  }

  .comment {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 0.8rem;
    background-color: #f9f9f9;

    .comment-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .comment-author {
        font-weight: 300;
      }

      .comment-date {
        font-size: small;
        color: #666;
      }
    }
  }
}
