<div class="blog-detail">
  <div class="blog-header">
    <h1>{{ model.title }}</h1>
    <p>
      By <strong>{{ model.author }}</strong> |
      {{ model.createdAt | date: "dd.MM.yyyy, HH:mm:ss" }}
    </p>
    <img
      class="blog-image"
      mat-card-image
      src="{{ 'https://picsum.photos/seed/' + model.id + '/348/300' }}"
      alt="Random Photo"
    />
  </div>

  <p>{{ model.content }}</p>

  <div class="blog-stats">
    <mat-icon>thumb_up</mat-icon> {{ model.likes }}
    @if (model.createdByMe) {
      <span> | 📝 Created by you</span>
    }

    @if (model.likedByMe) {
      <span>❤️ You liked this</span>
    }
  </div>
  <div class="comments-section">
    <h3>Comments ({{ model.comments.length }})</h3>

    @for (comment of model.comments; track model.id) {
      <mat-card class="comment">
        <div class="comment-header">
          <p class="comment-author">{{ comment.author }}</p>
          <p class="comment-date">
            {{ comment.createdAt | date: "dd.MM.yyyy, HH:mm:ss" }}
          </p>
        </div>
        <mat-card-content>
          <p>{{ comment.content }}</p>
        </mat-card-content>
      </mat-card>
    }

    <div class="add-comment-area">
      <mat-form-field appearance="fill" class="full-width">
        <textarea
          matInput
          placeholder="Write a comment..."
          rows="3"
          disabled="true"
        ></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="addComment()"
        disabled="true"
      >
        Post Comment
      </button>
    </div>
  </div>
</div>
