:host {
  .blog-card {
    display: flex;
    flex-direction: column;
    margin: 0.625rem;
    width: 400px;
    border: 0.5px solid #ebebeb;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      transform: translate(0, -5px);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .card-title {
      min-height: 4rem;
    }

    .blog-image {
      border-radius: 0.8rem;
      margin: 0.8rem;
      object-fit: cover;
      width: calc(100% - 1.6rem);
      height: 100%;
    }

    .blog-footer {
      display: flex;
      flex-flow: row wrap;

      .blog-author {
        flex-grow: 1;
        padding: 0.8rem;
        font-size: 0.8rem;
        color: #666;

        p {
          margin-top: 0;
        }
      }
    }

    .icon {
      margin-right: 0.75rem;
      font-size: 1.25rem;
    }
  }
}
