<mat-toolbar class="toolBar">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="demo">Component demo page</a>
    <a mat-menu-item href="overview">Blog overview</a>
  </mat-menu>

  <h4>{{ title }}</h4>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

@if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<router-outlet></router-outlet>
