<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<main class="main">
  <div class="content">
    <!-- <app-demo></app-demo> -->
    <app-blog-post-list></app-blog-post-list>
  </div>
</main>

<router-outlet />
