:host {
  .toolBar {
    display: flex;
    width: 100%;
    padding: 1rem;
    background: var(--gray-700);
    color: white;

    button {
      color: white;
    }

    @media screen and (max-width: 650px) {
      .content {
        flex-direction: column;
        width: max-content;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }

    .user-info {
      font-size: medium;
    }
  }
}
