<mat-toolbar class="toolBar">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="demo">Component demo page</a>
    <a mat-menu-item href="overview">Blog overview</a>
  </mat-menu>

  <h4>{{ title }}</h4>

  <span class="spacer"></span>

  @if (isAuthenticated()) {
    <button mat-flat-button [matMenuTriggerFor]="account">
      <mat-icon>person</mat-icon>
      {{ userName() }}
    </button>
    <mat-menu #account="matMenu">
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>Logout
      </button>
    </mat-menu>

    <mat-chip>Role: {{ userRole() }}</mat-chip>
    <!-- @if(userRole() === 'user') {
        <a routerLink="/add">
          <mat-icon>add_notes</mat-icon>
          Add post
        </a>
      } -->
  } @else {
    <button mat-flat-button (click)="login()">
      <mat-icon>login</mat-icon>Login
    </button>
  }
</mat-toolbar>
