@import "./app/shared/styles/variables.scss";
@import "./app/shared/styles/button-styles.scss";
@import "./app/shared/styles/font-styles.scss";

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-primary;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($property, $duration: 0.3s) {
  transition: #{$property} #{$duration};
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.hrule {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 1px;
  background: #dfe6e9;
  margin: 1rem 0 0 0;

  .section-title {
    gap: 0.5em;
    background: #faf9fd;
    padding: 0 0.2rem;
    font-size: 0.9rem;
    color: $color-primary-lighten;
  }
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.gap-1 {
  gap: $default-gap;
}

.gap-2 {
  gap: $default-gap * 2;
}

.gap-3 {
  gap: $default-gap * 3;
}

.gap-4 {
  gap: $default-gap * 4;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}
