<mat-toolbar class="toolBar">
  <h4>{{ title }}</h4>

  <span class="spacer"></span>

  @if (isAuthenticated) {
    <div class="user-info-container">
      @if (hasUserRoleOnly) {
        <button class="btn-primary-animated" [routerLink]="['/add-blog']">
          <span class="btn-content">
            <mat-icon>add</mat-icon>
            <span>Add Blog</span>
          </span>
        </button>
      }
      <button [matMenuTriggerFor]="menu" class="btn-secondary">
        <span class="btn-content">
          <mat-icon>person</mat-icon>
          <span>{{ userData?.preferred_username }}</span>
        </span>
      </button>
      <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
        <button mat-menu-item disabled="true">
          <mat-icon>settings</mat-icon>
          Account
        </button>
        <mat-divider></mat-divider>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  } @else {
    <button (click)="login()" class="btn-primary-animated">
      <span class="btn-content">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </span>
    </button>
  }
</mat-toolbar>
