@import "../../../styles.scss";

:host {
  .toolBar {
    display: flex;
    width: 100%;
    padding: 1rem;
    background: $color-toolbar;
    color: white;

    .user-info-container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    @media screen and (max-width: 650px) {
      .content {
        flex-direction: column;
        width: max-content;
      }
    }
  }
}
